<div class="container-fluid sm-mt-0">
    <div class="row d-md-none ms-auto">
        <div class="col-md-9 mx-auto">
            <img src="assets/images/footer_img.png" class="w-100" alt="">
        </div>
    </div>
    <div class="row bg_pink">
        <div class="col-md-10  mx-auto">
            <div class="row">
                <div class="col-md-6 d-none d-md-block position-relative">
                    <img src="assets/images/footer_img.png" class="position-absolute w-75" style="bottom: 0;" alt="">
                </div>
                <div class="col-md-6 col-10 mx-auto community-text sm-mt-mb" style="margin-top: 10vh; margin-bottom: 10vh;">
                    <h2 class="fw-bold text-white center inter-bold">Join our community</h2>
                    <div class="align-items-center d-flex text-center gap-1vw">
                        <a href="https://discord.gg/RgJCDBbVnX" target="_blank"><img
                                src="assets/images/footer_icon1.png" class="small-screen" style="height: 10vh;"
                                alt=""></a>
                        <a href="https://twitter.com/FramdNFT" target="_blank"><img src="assets/images/footer_icon4.png"
                                class="small-screen" style="height: 10vh;" alt=""></a>
                        <a href="https://medium.com/@framdnft" target="_blank"><img src="assets/images/footer_icon5.png"
                                class="small-screen" style="height: 10vh;" alt=""></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-11 mx-auto">
            <div class="row position-relative mt-10vh justify-content-between">
                <div class="col-md-5 text-secondary">
                    <img src="assets/images/logo.png" style="height: 15vh;" alt="">
                    <div class="mt-5vh">
                        <small class="poppins-medium">FRĀMD's Yeti Strong Club introduces a unique blend of NFT and DeFi
                            in a
                            gamified environment. By merging the playful universe of Yeti tribes and crypto NFT farming,
                            YTSC
                            offers perpetual earning opportunities.
                            Potential investors should note that cryptocurrency investment is risky. FRĀMD, while
                            dedicated to
                            creating a secure and user-friendly platform, is not liable for any losses from these risks.
                        </small>
                    </div>
                </div>
                <div class="position-absolute d-block d-md-none blurry-circle bg_circle_footer"></div>
                <div class="col-md-2 col-5 mt-5vh  text-secondary">
                    <h5 class="text_pink inter-bold">Marketplace</h5>
                    <a href="https://craft.network" class="my-3" target="_blank"><small class="poppins-medium">All
                            NFTs</small></a><br>
                    <a href="https://craft.network/collection/yetifarms" target="_blank"><small
                            class="poppins-medium">Farms</small></a><br>
                    <a href="https://craft.network/collection/ytsc" target="_blank"><small class="poppins-medium">Yeti
                            Collection</small></a><br>
                    <a href="https://opensea.io/collection/cryptowhaleportraits" class="my-3" target="_blank"><small
                            class="poppins-medium">Crypto Whale Portraits</small></a><br>
                </div>
                <div class="col-md-2 col-5 mt-5vh  text-secondary">
                    <h5 class="text_pink inter-bold">Resources</h5>
                    <a href="https://docs.framd.art" target="_blank" class="my-3"><small
                            class="poppins-medium">Docs</small></a><br>
                    <a href="https://www.framd.art" target="_blank" class="my-3"><small
                            class="poppins-medium">FRĀMD</small></a><br>
                </div>
            </div>
            <div class=" footer-info d-flex justify-content-between align-items-center text-secondary" style="margin-top: 10vh; margin-bottom: 5vh;">
                <small class="poppins-medium">© 2023 YTSC, All rights reserved</small>
                <!--  <small><a href="#">Privacy Policy</a> • <a href="#">Terms & Conditions</a></small> -->
            </div>
        </div>
    </div>
</div>