<div class="switches-container">
    <input type="radio" id="yeti" name="swtichType" value="Yeti" checked="checked">
    <input type="radio" id="farms" name="swtichType" value="Farms">
    <label for="yeti" (click)="selected(switchType.Yeti)">Yeti</label>
    <label for="farms" (click)="selected(switchType.Farms)">Farms</label>
    <div class="switch-wrapper">
        <div class="switch">
            <div class="poppins-semi-bold">Yeti</div>
            <div class="poppins-semi-bold">Farms</div>
        </div>
    </div>
</div>