.btn_circle{
    border: 2px solid #FF54C7;
}

.selected {
    border: 1px dashed #FF54C7;
    box-shadow: 0px 0px 25px rgba(255, 84, 199, 0.25);
}

.not-selected {
    border: #151515;
    box-shadow: 0px 0px 25px rgba(255, 84, 199, 0.25);
}


h5{
    font-size: 1vw !important;
}

span{
    font-size: 1.2vw !important;
}
@media (width < 600px){
    h5{
        font-size: 3.8vw !important;
    }
    
    span{
        font-size: 4vw !important;
    }
}
.modal {
    z-index: 99999999;
}

.sm_circle {
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    z-index: -1;
    background: rgba(255, 84, 199, 0.6);
    filter: blur(11vh);
}

.circle{
    width: 200px;
    height: 95px;
    border-radius: 50%;
    z-index: -1;
    background: rgba(255, 84, 199, 0.6);
    filter: blur(90px);
}
