<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content text-secondary" style="border: 2px solid #FF54C780; background-color: #0000;">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">HEADING OF MODAL</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <hr>
            <div class="modal-body">
                <span class="fs1_3vw">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua.
    
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                    ipsum quia
                    dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
                    ut labore
                    et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                    exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</span>
                
            </div>
            <hr>
            <div class="row ps-3 pe-3 pb-3">
                <div class="col-12 justify-content-between d-flex">
                    <button type="button" class="btn btn_dark ps-4 pt-2 pb-2 pe-4">Save</button>
                    <button type="button" class="btn btn_pink ps-3 pt-2 pb-2 pe-3" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>